REACT_APP_API_BASE_URL=http://localhost:3001
CORS_ALLOW_ORIGIN=http://localhost:3001
SERVER_PORT=3001
SOCKET_PORT=3005
SPEECH_KEY=<speech_key>
SPEECH_REGION=westeurope
LANGUAGE_KEY=<language_key>
LANGUAGE_REGION=westeurope
LANGUAGE_ENDPOINT=https://<language_service>.cognitiveservices.azure.com/
TRANSLATE_KEY=<translate_key>
TRANSLATE_ENDPOINT=https://api.cognitive.microsofttranslator.com/
TRANSLATE_REGION=westeurope